/* Current page elements start */

main .bio_section {
    max-width: var(--horizontal-max-width);
    padding: var(--vertical-margin) var(--horizontal-margin) 50px var(--horizontal-margin);
    margin: 0 auto;
}

main .bio_section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0 var(--vertical-margin) 0;
    border-radius: var(--vertical-margin);
    background-color: rgb(208, 246, 255,);
    box-shadow: var(--main_box_shadow);
}

main .bio_section .person {
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

main .person p {
    text-align: center;
    line-height: 130%;
}

main .person p:first-child {
    font-size: 18px;
    color: var(--main-text-color);
}

main .person p:last-child {
    font-size: 14px;
    color: #505050;
}

main .bio_section .biography {
    font-weight: 300;
    padding: 30px var(--vertical-margin) 0 var(--vertical-margin);
}

main .bio_section .image_container {
    width: 80px;
    height: 80px;
    background-image: url("../assets/person.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    box-shadow: var(--main_box_shadow);
}

main .bio_section img {
    width: 100%;
    height: 100%;
}

/* Current page elements end */

/* Current page media querries start */
/* Current page media querries end */
