/* Media querries start */

@media (max-width: 1300px) {
    nav .menu_container {
        display: none;
    }

    nav .hamburger_menu {
        display: flex;
        align-items: center;
    }

    nav .logo_container {
        height: 50px;
    }
}

@media (max-width: 1024px) {
    :root {
        --horizontal-margin: 80px;
    }
    .FAB {
        display: block;
    }
    .CTA1,
    .CTA2 {
        font-size: 18px;
    }

    .CTA1 i,
    .CTA2 i {
        font-size: 18px;
    }
    main .hero_section {
        height: 50vh;
    }
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 22px;
    }
    main .text_section p {
        font-size: 18px;
        line-height: 26px;
    }
    p.invitation {
        font-size: 18px;
    }
    main .label_section p {
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    :root {
        --vertical-margin: 20px;
        --horizontal-margin: 50px;
    }
    nav .overlay_menu {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
    h1, h2, h3 {
        text-align: center;
    }
    main .label_section .container {
        width: 100%;
        max-width: none;
        margin: 0;
        display: flex;
        justify-content: center;
        background-color: var(--primary-color);
    }
    main .label_section .inner_wrapper {
        padding: 10px 0;
    }
    main .label_section .inner_wrapper::before {
        content: none;
    }
    .leaflet-popup-content {
        font-size: 16px;
    }
    footer .main_section .container {
        display: block;
        padding: 0;
    }
    footer .main_section .inner_wrapper {
        margin: 0 auto var(--vertical-margin) auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .main_section .button_container {
        display: flex;
        justify-content: center;
    }
    footer .main_section .social_media {
        display: flex;
        justify-content: center;
    }
    footer .button_container {
        flex-direction: column;
        align-items: center;
    }
    footer .button_container > * {
        margin-right: 0;
        margin-bottom: 5px;
    }
    footer .secondary_section .container {
        text-align: center;
    }
    footer .page_up_button_container i {
        font-size: 28px;
    }
}

@media (max-width: 550px) {
    nav .hamburger_menu .menu_item {
        display: none;
    }
}

@media (max-width: 480px) {
    :root {
        --vertical-margin: 25px;
        --horizontal-margin: 20px;
    }
    nav .hamburger_menu i {
        font-size: 30px;
    }
    main .hero_section {
        background-position: 55%;
    }
    main .feature_section .feature_card {
        width: 50%;
    }
    footer .secondary_section {
        font-size: 14px;
    }
}

/* Media querries end */
