* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --horizontal-max-width: 1200px;
    --horizontal-margin: 120px;
    --vertical-margin: 50px;
    --nav-height: 95px;
    --menu-elements-size: 40px;
    --primary-color: #377BFF;
    --secondary-color: white;
    --accent-color: #FF7918;
    --main-text-color: #252525;
    --text-color-lighter: #787878;
    --text-color-lightest: #d2d2d2;
    --main_vertical_box_shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    --main_box_shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

.main_container {
    position: relative;
}

/* Reusable Elements Start */

p.invitation {
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.CTA1 {
    font-size: 18px;
    font-weight: medium;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: var(--main_box_shadow);
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border: none;
}

.CTA1:hover {
    background-color: #ff984f;
    cursor: pointer;
}

.CTA2 {
    font-size: 18px;
    font-weight: medium;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: var(--main_box_shadow);
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
}

.CTA2:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.CTA2:hover > .icon_container img {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

/* Reusable Elements End */

/* Navbar style start */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    border-top: 10px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

nav.shrinked {
    height: 70px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--horizontal-max-width);
    margin: 0 var(--horizontal-margin);
}

nav .menu_container {
    background-color: var(--primary-color);
    border-radius: 100px;
}

nav .hamburger_menu {
    display: none;
}

nav .hamburger_menu .container {
    width: var(--menu-elements-size);
    height: var(--menu-elements-size);
    margin: 0;
}

nav .hamburger_menu img {
    width: 100%;
    height: 100%;
}

nav .menu {
    display: flex;
    padding: 0 30px; 
    list-style: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
}

nav .menu li {
    height: var(--menu-elements-size);
    padding: 0 10px;
}

nav .menu li:hover {
    background-color: #6A9DFF;
    border-bottom: 3px solid #0045CA;
    cursor: pointer;
}

nav .menu a {
    text-decoration: none;
}

nav .menu span {
    font-size: 14px;
    color: var(--secondary-color);
    line-height: var(--menu-elements-size);
}

/* Navbar style end */

main {
    margin-top: var(--nav-height);
    transition: 0.2s;
}

main.shrinked {
    margin-top: 70px;
}

main .hero_section {
    position: relative;
    height: 75vh;
    background-image: url("../assets/green_light.jpg");
    background-size: cover;
    background-position: 20% 70%;
}

main .hero_section::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: var(--vertical-margin);
    background-color: var(--primary-color);
    z-index: -1;
}

main .hero_section .call_invitation {
    position: absolute;
    width: 100%;
    max-width: var(--horizontal-max-width);
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 var(--horizontal-margin);
}

main .call_invitation .inner_wrapper {
    position: absolute;
    padding: 10px 15px 10px 0;
}

main .call_invitation p {
    color: var(--secondary-color);
}

main .call_invitation .inner_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1000px;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: -1;
}

main .hero_section .address_info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 var(--horizontal-margin);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
    background-color: var(--primary-color);
}

.hero_section .address_info > .container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hero_section .address_info .icon_container {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.hero_section .address_info img {
    width: 100%;
    height: 100%;
}

.hero_section .address_info span {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    line-height: 130%;
    text-align: center;
}

main .text_section {
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
    background-color: var(--secondary-color);
}

main .text_section .container {
    max-width: var(--horizontal-max-width);
    padding: var(--vertical-margin) var(--horizontal-margin);
    margin: 0 auto;
}

main .text_section .text_block {
    margin-bottom: var(--vertical-margin);
}

main .text_section .text_block:last-child {
    margin-bottom: 0px;
}

main .text_section h1 {
    margin-bottom: 20px;
}

main .text_section p {
    line-height: 30px;
}

main .feature_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
}

main .feature_section::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: var(--vertical-margin);
    background-color: var(--primary-color);
    z-index: -1;
}

main .feature_section > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: calc(var(--horizontal-max-width) - 200px);
    padding: var(--vertical-margin) var(--horizontal-margin);
}

main .feature_section .feature_card {
    width: 25%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    color: var(--secondary-color);
    padding: var(--vertical-margin) 20px;
}

main .feature_card > .container {
    max-width: 130px;
    margin: auto;

}

main .feature_section .icon_container {
    width: 45px;
    height: 45px;
    margin: 0 auto 10px auto;
}

main .feature_section img {
    width: 100%;
    height: 100%;
}

main .map_section {
    position: relative;
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
    background-color: var(--primary-color);
}

main .map_section::before {
    content: "";
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    height: var(--vertical-margin);
    background-color: var(--primary-color);
}

main .map_section .container {
    padding: var(--vertical-margin) var(--horizontal-margin);
    max-width: var(--horizontal-max-width);
    margin: auto;
}

#map { 
    height: 60vh;
    border-radius: 10px;
    box-shadow: var(--main_box_shadow);
    z-index: 10;
 }

footer {
    position: relative;
    background-color: #363636;
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
}

footer .main_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .main_section > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: var(--horizontal-max-width);
    margin: 25px var(--horizontal-margin);
}

footer .page_up_button_container {
    position: absolute;
    top: 0;
    right: var(--horizontal-margin);
    transform: translateY(-30%);
    width: 40px;
    height: 40px;
}

footer .page_up_button_container img {
    width: 100%;
    height: 100%;
}

footer .main_section .inner_wrapper {
    margin-right: 40px;
}

footer p.invitation {
    color: var(--text-color-lightest);
}

footer .CTA1 {
    margin-right: 10px;
}

footer .button_container {
    display: flex;
    flex-wrap: wrap;
}

footer .button_container > * {
    margin-top: 5px;
}

footer .social_media {
    display: flex;
}

footer .social_media .icon_container {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

footer .social_media img {
    width: 100%;
    height: 100%;
}

footer .secondary_section {
    background-color: #181818;
    color: var(--text-color-lighter);
    font-size: 14px;
    font-weight: 300;
}

footer .secondary_section .container {
    padding: 8px var(--horizontal-margin);
}

@media (max-width: 1200px) {
    nav .menu_container {
        display: none;
    }

    nav .hamburger_menu {
        display: block;
    }
    main .hero_section {
        height: 50vh;
        background-position: 50% 70%;
    }
}

@media (max-width: 1024px) {
    :root {
        --horizontal-margin: 80px;
    }
}

@media (max-width: 768px) {
    :root {
        --vertical-margin: 40px;
        --horizontal-margin: 50px;
    }
    h1 {
        text-align: center;
    }
    main .feature_section .feature_card {
        width: 40%;
    }
}

@media (max-width: 480px) {
    :root {
        --vertical-margin: 25px;
        --horizontal-margin: 20px;
    }
    main .hero_section {
        background-position: 60% 50%;
    }
    main .feature_section .feature_card {
        width: 50%;
    }
    footer .secondary_section {
        text-align: center;
    }
}
