/* Current page elements start */

main {
    background-image: url("../assets/abstract.jpg");
    backdrop-filter: opacity(0.1);
}

.contact_details > .container {
    padding: var(--vertical-margin) var(--horizontal-margin) 0 var(--horizontal-margin);
    max-width: var(--horizontal-max-width);
    margin: auto;
}

.contact_details .inner_wrapper:first-child {
    margin-top: 0;
}

.contact_details .inner_wrapper {
    margin-top: var(--vertical-margin);
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

h3 {
    font-size: 24px;
}

.social_media {
    display: flex;
}

.social_media .icon_container {
    margin-left: 8px;
}

.social_media .icon_container i {
    font-size: 50px;
    color: var(--primary-color);
    transition: 0.2s;
}

.social_media .icon_container i:hover {
    color: black;
}

/* Current page elements end */

/* Current page media querries start */

@media (max-width: 767px) {
    .main_contact_data .button_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .main_contact_data h1 {
        margin-bottom: 10px;
    }
    .main_contact_data .CTA1 {
        margin-bottom: 5px;
    }
    .contact_details .social_media {
        display: flex;
        justify-content: center;
    }
}

/* Current page media querries end */
