/* Current page elements start */

main .text_section .text_block {
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 40px;
}

h2 {
    color: var(--primary-color);
}

ul {
    list-style-position: inside;
}

li > p {
    display: inline;
}

/* Current page elements end */

/* Current page media querries start */

@media (max-width: 480px) {

    /* main .text_section li {
        margin-bottom: 10px;
    } */
}

/* Current page media querries end */
