/* Media querries start */

@media (max-width: 1200px) {
    nav .menu_container {
        display: none;
    }

    nav .hamburger_menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    :root {
        --horizontal-margin: 80px;
    }
    main .hero_section {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    :root {
        --vertical-margin: 40px;
        --horizontal-margin: 50px;
    }
    nav .overlay_menu {
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
    h1, h2, h3 {
        text-align: center;
    }
    main .label_section .container {
        width: 100%;
        max-width: none;
        margin: 0;
        display: flex;
        justify-content: center;
        background-color: var(--primary-color);
    }
    main .label_section .inner_wrapper {
        padding: 10px 0;
    }
    main .label_section .inner_wrapper::before {
        content: none;
    }
}

@media (max-width: 480px) {
    :root {
        --vertical-margin: 25px;
        --horizontal-margin: 20px;
    }
    main .hero_section {
        background-position: 55%;
    }
    main .feature_section .feature_card {
        width: 50%;
    }
    footer .secondary_section {
        text-align: center;
    }
}

/* Media querries end */
