/* Reusable Elements Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --horizontal-max-width: 1200px;
    --horizontal-margin: 120px;
    --vertical-margin: 50px;
    --nav-height: 100px;
    --menu-elements-size: 50px;
    --primary-color: #377BFF;
    --secondary-color: white;
    --accent-color: #FF7918;
    --main-text-color: #252525;
    --text-color-lighter: #787878;
    --text-color-lightest: #d2d2d2;
    --main_vertical_box_shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    --main_box_shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

.main_container {
    position: relative;
}

.FAB {
    display: none;
    position: fixed;
    bottom: -10%;
    right: 5%;
    z-index: 1000;
    transition: 0.5s;
}

.FAB.visible {
    bottom: 5%;
}

.FAB .container {
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: var(--main_box_shadow);
    transition: 0.2s;
}

.FAB i {
    font-size: 24px;
    color: white;
}

main {
    margin-top: var(--nav-height);
    transition: 0.2s;
}

main.shrinked {
    margin-top: 80px;
}

main .label_section {
    padding-top: var(--vertical-margin);
}

main .label_section .container {
    margin: 0 var(--horizontal-margin);
}

main .label_section .inner_wrapper {
    position: relative;
    width: max-content;
    padding: 10px 15px 10px 0;
}

main .label_section p {
    font-size: 26px;
    font-weight: 500;
    color: var(--secondary-color);
}

main .label_section .inner_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1000px;
    right: 0;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    z-index: -1;
}

main .text_section {
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
    background-color: var(--secondary-color);
}

main .text_section .container {
    max-width: var(--horizontal-max-width);
    padding: var(--vertical-margin) var(--horizontal-margin);
    margin: 0 auto;
}

main .text_section .text_block {
    margin-bottom: var(--vertical-margin);
}

main .text_section .text_block:last-child {
    margin-bottom: 0px;
}

main .text_section h1 {
    margin-bottom: 20px;
}

main .text_section p {
    line-height: 30px;
}

p.invitation {
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.CTA1 {
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: var(--main_box_shadow);
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border: none;
    margin-right: 5px;
}

.CTA1 i {
    font-size: 18px;
}

.CTA1:hover {
    background-color: #ff984f;
    cursor: pointer;
}

.CTA2 {
    font-size: 20px;
    height: 40px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: var(--main_box_shadow);
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
}

.CTA2 i {
    font-size: 18px;
}

.CTA2:hover {
    background-color: #ff984f;
    color: var(--secondary-color);
    cursor: pointer;
}

.CTA2:hover > .icon_container img {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.CTA1 a {
    text-decoration: none;
    color: var(--secondary-color);
}

.CTA2 a {
    text-decoration: none;
    color: var(--accent-color);
}

.CTA2 a:hover {
    color: var(--secondary-color);
}

/* Map style start */

main .map_section {
    position: relative;
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
    background-color: var(--primary-color);
    margin-top: var(--vertical-margin);
}

main .map_section::before {
    content: "";
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    height: var(--vertical-margin);
    background-color: var(--primary-color);
}

main .map_section .container {
    padding: var(--vertical-margin) var(--horizontal-margin);
    max-width: var(--horizontal-max-width);
    margin: auto;
}

#map { 
    height: 60vh;
    border-radius: 10px;
    box-shadow: var(--main_box_shadow);
    z-index: 10;
}

/* Map style end */

/* Navbar style start */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-top: 10px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 1001;
    transition: 0.2s;
}

nav.shrinked {
    height: 80px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--horizontal-max-width);
    margin: 0 var(--horizontal-margin);
}

nav .logo_container {
    height: var(--menu-elements-size);
}

nav .small_logo_container {
    display: none;
    height: 45px;
}

nav .small_logo_container img {
    height: 100%;
}

nav .logo_container img {
    height: 100%;
}

nav .menu_container {
    background-color: var(--primary-color);
    border-radius: 100px;
}

nav .hamburger_menu {
    display: none;
}

nav .hamburger_menu .container {
    margin: 0;
}

nav .hamburger_menu .menu_item {
    height: 32px;
    padding: 0 12px;
    margin-right: 20px;
    background-color: var(--primary-color);
    border-radius: 100px;
}

nav .hamburger_menu a {
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-color);
    text-decoration: none;
}

nav .hamburger_menu span {
    line-height: 32px;
}

nav .hamburger_menu i {
    font-size: 34px;
    color: var(--primary-color);
    cursor: pointer;
}

nav .overlay_menu {
    position: fixed;
    top: 0;
    left: 100%;
    padding: 30px 60px;
    background-color: var(--primary-color);
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px 0 0 20px;
    box-shadow: var(--main_box_shadow);
    transition: 0.4s;
}

nav .overlay_menu .close_button {
    padding-bottom: 24px;
}

nav .overlay_menu .close_button i {
    font-size: 28px;
    color: var(--secondary-color);
    transition: 0.1s;
}

nav .overlay_menu .close_button i:hover {
    transform: scale(1.3);
    cursor: pointer;
}

nav .overlay_menu ul {
    list-style: none;
}

nav .overlay_menu li {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    transition: 0.2s;
}

nav .overlay_menu li:hover {
    background-color: #6297ff;
}

nav .overlay_menu li:last-child {
    background-color: var(--accent-color);
    border-radius: 8px;
    margin-top: 8px;
}

nav .overlay_menu li:last-child:hover {
    background-color: #ff984f;
}

nav .overlay_menu a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav .menu {
    display: flex;
    padding: 0 30px; 
    list-style: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
}

nav .menu li {
    height: var(--menu-elements-size);
    padding: 0 10px;
}

nav .menu li:hover {
    background-color: #6A9DFF;
    border-bottom: 3px solid #0045CA;
    cursor: pointer;
}

nav .menu a {
    text-decoration: none;
}

nav .menu span {
    font-size: 16px;
    color: var(--secondary-color);
    line-height: var(--menu-elements-size);
}

/* Navbar style end */

/* Footer Styles Start */

footer {
    position: relative;
    background-color: #363636;
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
}

footer .main_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .main_section > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: var(--horizontal-max-width);
    margin: 25px var(--horizontal-margin);
}

footer .page_up_button_container {
    position: absolute;
    top: 0;
    right: var(--horizontal-margin);
    transform: translateY(-30%);
    text-align: center;
    background-color: #363636;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--main_box_shadow);
}

footer .page_up_button_container i {
    color: rgb(160, 160, 160);
    font-size: 25px;
}

footer .page_up_button_container:hover {
    cursor: pointer;
}

footer .page_up_button_container:hover > i {
    color: rgb(228, 228, 228);
}

footer .main_section .inner_wrapper {
    margin-right: 40px;
}

footer p.invitation {
    color: var(--text-color-lightest);
}

footer .CTA1 {
    margin-right: 10px;
}

footer .button_container {
    display: flex;
    flex-wrap: wrap;
}

footer .button_container > * {
    margin-top: 5px;
}

footer .social_media {
    display: flex;
}

footer .social_media .icon_container {
    margin-left: 8px;
}

footer .social_media .icon_container i {
    font-size: 40px;
    color: #b8b8b8;
    transition: 0.2s;
}

footer .social_media .icon_container i:hover {
    color: #ffffff;
}

footer .secondary_section {
    background-color: #181818;
    color: var(--text-color-lighter);
    font-size: 14px;
    font-weight: 300;
}

footer .secondary_section .container {
    padding: 8px var(--horizontal-margin);
}

/* Footer Styles End */

/* Reusable Elements End */