/* Reusable Elements Start */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --horizontal-max-width: 1200px;
    --horizontal-margin: 120px;
    --vertical-margin: 50px;
    --nav-height: 95px;
    --menu-elements-size: 40px;
    --primary-color: #377BFF;
    --secondary-color: white;
    --accent-color: #FF7918;
    --main-text-color: #252525;
    --text-color-lighter: #787878;
    --text-color-lightest: #d2d2d2;
    --main_vertical_box_shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    --main_box_shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

.main_container {
    position: relative;
} 

p.invitation {
    width: max-content;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.CTA1 {
    height: 40px;
    font-size: 18px;
    font-weight: medium;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: var(--main_box_shadow);
    color: var(--secondary-color);
    background-color: var(--accent-color);
    border: none;
}

.CTA1:hover {
    background-color: #ff984f;
    cursor: pointer;
}

.CTA2 {
    font-size: 18px;
    height: 40px;
    font-weight: medium;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: var(--main_box_shadow);
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
}

.CTA2:hover {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.CTA2:hover > .icon_container img {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

main {
    margin-top: var(--nav-height);
    transition: 0.2s;
    min-height: calc(100vh - 200px);
}

main.shrinked {
    margin-top: 70px;
}

main .label_section {
    max-width: var(--horizontal-max-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--vertical-margin);
}

main .label_section .container {
    width: 100%;
    max-width: var(--horizontal-max-width);
    margin: 0 var(--horizontal-margin);
    display: flex;
    justify-content: flex-start;
}

main .label_section .inner_wrapper {
    position: relative;
    width: max-content;
    padding: 10px 15px 10px 0;
}

main .label_section p {
    font-size: 26px;
    font-weight: 500;
    color: var(--secondary-color);
}

main .label_section .inner_wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1000px;
    right: 0;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    z-index: -1;
}

/* Reusable Elements End */

/* Navbar style start */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    border-top: 10px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;
}

nav {
    height: var(--nav-height);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

nav.shrinked {
    height: 70px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--horizontal-max-width);
    margin: 0 var(--horizontal-margin);
}

nav .menu_container {
    background-color: var(--primary-color);
    border-radius: 100px;
}

nav .hamburger_menu {
    display: none;
}

nav .hamburger_menu .container {
    width: var(--menu-elements-size);
    height: var(--menu-elements-size);
    margin: 0;
}

nav .hamburger_menu img {
    width: 100%;
    height: 100%;
}

nav .menu {
    display: flex;
    padding: 0 30px; 
    list-style: none;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -0.04em;
}

nav .menu li {
    height: var(--menu-elements-size);
    padding: 0 10px;
}

nav .menu li:hover {
    background-color: #6A9DFF;
    border-bottom: 3px solid #0045CA;
    cursor: pointer;
}

nav .menu a {
    text-decoration: none;
}

nav .menu span {
    font-size: 14px;
    color: var(--secondary-color);
    line-height: var(--menu-elements-size);
}

/* Navbar style end */

/* Footer Styles Start */

footer {
    position: relative;
    background-color: #363636;
    border-radius: var(--vertical-margin) var(--vertical-margin) 0 0;
}

footer .main_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .main_section > .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: var(--horizontal-max-width);
    margin: 25px var(--horizontal-margin);
}

footer .page_up_button_container {
    position: absolute;
    top: 0;
    right: var(--horizontal-margin);
    transform: translateY(-30%);
    width: 40px;
    height: 40px;
}

footer .page_up_button_container img {
    width: 100%;
    height: 100%;
}

footer .main_section .inner_wrapper {
    margin-right: 40px;
}

footer p.invitation {
    color: var(--text-color-lightest);
}

footer .CTA1 {
    margin-right: 10px;
}

footer .button_container {
    display: flex;
    flex-wrap: wrap;
}

footer .button_container > * {
    margin-top: 5px;
}

footer .social_media {
    display: flex;
}

footer .social_media .icon_container {
    width: 40px;
    height: 40px;
    margin-left: 8px;
}

footer .social_media img {
    width: 100%;
    height: 100%;
}

footer .secondary_section {
    background-color: #181818;
    color: var(--text-color-lighter);
    font-size: 14px;
    font-weight: 300;
}

footer .secondary_section .container {
    padding: 8px var(--horizontal-margin);
}

/* Footer Styles End */

/* Current Page Elements Start */

main .images_section {
    display: flex;
    justify-content: center;
    margin: var(--vertical-margin) 0;
}

main .images_section .images_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: var(--horizontal-max-width);
    margin: 0 var(--horizontal-margin);
}

main .images_section .image_container {
    width: 33.33%;
    padding: 3px 6px;
}

main .images_section img {
    width: 100%;
}

/* Current Page Elements End */

@media (max-width: 1200px) {
    nav .menu_container {
        display: none;
    }

    nav .hamburger_menu {
        display: block;
    }
}

@media (max-width: 1024px) {
    :root {
        --horizontal-margin: 80px;
    }
}

@media (max-width: 768px) {
    :root {
        --vertical-margin: 40px;
        --horizontal-margin: 50px;
    }
    h1, h2, h3 {
        text-align: center;
    }
    main .label_section .container {
        width: 100%;
        max-width: none;
        margin: 0;
        display: flex;
        justify-content: center;
        background-color: var(--primary-color);
    }
    main .label_section .inner_wrapper {
        padding: 10px 0;
    }
    main .label_section .inner_wrapper::before {
        content: none;
    }
}

@media (max-width: 480px) {
    :root {
        --vertical-margin: 25px;
        --horizontal-margin: 20px;
    }
    footer .secondary_section {
        text-align: center;
    }
}

/* Current page media querries start */

@media (max-width: 768px) {
    main .images_section .image_container {
        width: 50%;
    }
}

@media (max-width: 480px) {
    main .images_section .image_container {
        width: 100%;
    }
}

/* Current page media querries end */
