/* Current page elements start */

.prices_section {
    padding: var(--vertical-margin) var(--horizontal-margin);
}

.prices_section > .container {
    max-width: var(--horizontal-max-width);
    margin: 0 auto;
}

table, td {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    font-size: 18px;
}
  
td {
    padding: 6px 10px;
}

th {
    padding: 8px 10px;
    font-size: 19px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

td {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

td:nth-child(even) {
    background-color: #F1F1F1;
}

p:last-child {
    font-weight: 500;
}

/* Current page elements end */

/* Current page media querries start */
/* Current page media querries end */
