/* Current page elements start */

.prices_section {
    padding: calc(2* var(--vertical-margin)) var(--horizontal-margin);
}

.prices_section > .container {
    max-width: var(--horizontal-max-width);
    margin: 0 auto;
}

table, td {  
    border: 1px solid #ddd;
    text-align: left;
}
  
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    font-size: 24px;
}

th {
    padding: 12px 16px;
    font-size: 26px;
    letter-spacing: 0.07em;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

td {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 16px;
}

td:nth-child(even) {
    background-color: #F1F1F1;
}

p:last-child {
    font-weight: 500;
}

/* Current page elements end */

/* Current page media querries start */

@media (max-width: 1024px) {
    th {
        font-size: 21px;
        padding: 8px 16px;
    }
    td {
        padding: 6px 12px;
    }
    p {
        font-size: 21px;
    }
}

/* Current page media querries end */
