/* Current page elements start */

main .images_section {
    display: flex;
    justify-content: center;
    margin: var(--vertical-margin) 0;
}

main .images_section .images_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: var(--horizontal-max-width);
    margin: 0 var(--horizontal-margin);
}

main .images_section .image_container {
    width: 33.33%;
    padding: 3px 6px;
}

main .images_section img {
    width: 100%;
}

/* Current Page elements end */

/* Current page media querries start */

@media (max-width: 767px) {
    main .images_section .image_container {
        width: 50%;
    }
}

@media (max-width: 480px) {
    main .images_section .image_container {
        width: 100%;
    }
}

/* Current page media querries end */


/* Gallery start */

.gallery-navigation {
  position: fixed;
  inset: 0 0 0 0;
  z-index: 1001;
  flex-direction: column;
  display: flex;

  align-items: stretch;

  background-color: black;
  max-height: 50vh;
}

.gal-top {
  display: flex;
  color: white;
  justify-content: flex-end;
  font-size: 10em;
  align-items: center;
}

.gal-bot {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image-view {
  max-height: 90%;
  max-width: 90%;
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

.gal-nav {
  max-width: 10em;
  display: flex;
  align-items: center;
  padding: 1em;
  cursor: pointer;
}

.gal-nav.next svg {
  transform: rotate(180deg);
}

.gal-nav svg {
  fill: white;
}

/* Gallery end */
